* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5px; */
}
input,
textarea,button {
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 2px;
  display: inline-block;
  margin-left: 10px;
}
button{
  margin-top: 15px;
  padding: 6px 10px;
  color: #fff;
  background-color: #4338ca;

}

/* .new-comment {
  background-color: rgb(186, 219, 224);
  display: flex;
  align-items: flex-end;
  justify-content: center;
} */
/* form {
  display: flex;
  flex-direction: column;
}
.btn {
  width: 60px;
  color: aliceblue;
  background-color: rgb(70, 92, 218);
  border: none;
  outline: none;
  padding: 3px 3px;
  margin: 10px;
} */
/* .btn-container {
  background-color: rgb(186, 219, 224);
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .label {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}
.flex-form {
  display: flex;
  margin: 30px 30px 0 0;
}
.input {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}
input {
  margin: 3px;
  width: 200px;
}
label {
  margin: 2px;
} */
